body {
    font-family: 'PT Serif', serif;
}

#logo {
    max-width: 100%;
    max-height: 100%;
    padding: 3vw;
}

#header {
    border: 3px solid gold;
    border-radius: 10vw 1vw 1vw 10vw;
}

#content {
    border: 3px solid gold;
    border-radius: 1vw;
}

#tagline {
    font-style: italic;
}

address {
    font-style: italic;
    color: black;
}

address a {
    color: black;
    text-decoration: none;
}

h1 {
    font-family: 'Damion', cursive;
    color: gold;
    font-size: 4rem;
}

.orders {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20rem;
}

#order-ticket {
    font-family: 'VT323', monospace;
    width: 23%;
    margin-top: 2%;
    margin-right: 2%;
    border-radius: 0%;
    border-top-style: dashed;
    border-bottom-style: dashed;
    line-height: 80%;
}

.price {
    font-style: italic;
    font-size: 80%;
    opacity: 80%;
}