:root {
    --light-tan: #dbb897;
    --dark-tan: #e59b53;
    --text-color: #220803;
    --lighter-red: #650100;
    --darker-red: #400300

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: -1px;
    border: 1px solid red;
    border-collapse: collapse;
}

body {
    background-color: var(--light-tan);
}

.page {
    margin: auto;
    margin-top: 2vw;
    width: 50vw;
    max-width: 80vw;
    background-color: var(--dark-tan);
}

#header {
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 20vh;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
}

#col1 {
    width: 300px;
}

#col2 {
    flex-grow: 3;
}

#col3 {
    text-align: left;
}

#logo {
    max-height: 300px;
    height: 100%;
}

#order-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.topping-category {
    display: flex;
    flex-direction: column;

}